#img {
    width: 100%;
    position: relative;
}
/*
#timeline-heading {
    position: relative;
    width: 40%;
    margin: 10px auto;
    text-align: center;
    font-size: 2em;
    background-color: white;
}
#timeline-heading:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
*/
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/background/6.jpg);
    background-size: contain;
    background-color: rgba(0, 0, 0, 1);
}
#heading {
  width: 50%;
  align-content: center;
}
#heading-card {
  margin-top: 30px;
  margin-bottom: -20px;
}
#heading-card-content {
  margin-bottom: 0px;
  font-size: 140%;
  font-family: 'Roboto', sans-serif;;
  color: #303e49;
  font-weight: bold;
  text-align: center;
}

.cd-timeline-content .mjx-math {
    color: #303e49;
}
.cd-timeline-img img {
    width: 70%;
    height: 70%;
    margin-left: -33%;
    margin-top: -33%;
}
